* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #eee;
}

/* ---------- Header style ---------- */

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  align-items: center;
}

header img {
  width: 40px;
}

nav {
  width: 60%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: lightslategray;
  font-weight: 400;
  cursor: pointer;
}

li:nth-child(1) a {
  color: black;
}

li a:hover {
  color: orange;
}

/* ---------- Main style ---------- */
