* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-orange: #ed6927;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #eee;
}

/* ---------- Header style ---------- */

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  align-items: center;
}

header img {
  width: 40px;
}

nav {
  width: 60%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: lightslategray;
  font-weight: 400;
  cursor: pointer;
}

li:nth-child(1) a {
  color: black;
}

li a:hover {
  color: var(--dark-orange);
}

/* ---------- Main style (SECTION 1) ---------- */

.introducing-section {
  color: white;
  background-image: url("../img/first-background.jpg");
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.introducing-section h1 {
  font-size: 5rem;
  font-weight: 300;
}

.introducing-section p {
  color: wheat;
  margin-bottom: 2.2em;
  font-size: 1.8rem;
  font-weight: 300;
}

.introducing-section a {
  padding: 1em;
  background-color: var(--dark-orange);
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.5rem;
}

/* ---------- Main style (SECTION 2) ---------- */
