* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-orange: #f15b2a;
  --dark-grey: #676767;
  --light-grey: lightslategray;
  --soft-grey: lightgrey;
  --main-white: white;
  --darker-white: #eee;
  --main-black: black;
  --light-yellow: wheat;
  --light-orange: #f15c2a2f;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--darker-white);
}

/* ---------- Header style ---------- */

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5vw;
  align-items: center;
}

header img {
  width: 30px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--main-black);
}

.nav-links {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 10px;
}

li a {
  text-decoration: none;
  color: var(--light-grey);
  font-weight: 400;
  cursor: pointer;
}

li:nth-child(1) a {
  color: var(--main-black);
}

li a:hover {
  color: var(--dark-orange);
}

/* ---------- Main style (SECTION 1) ---------- */

.introducing-section {
  color: var(--main-white);
  background-image: url("../img/first-background.jpg");
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.introducing-section h1 {
  font-size: 5rem;
  font-weight: 300;
}

.introducing-section p {
  color: var(--light-yellow);
  margin-bottom: 2.2em;
  font-size: 2.5rem;
  font-weight: 100;
}

.introducing-section a {
  padding: 1em;
  background-color: var(--dark-orange);
  color: var(--main-white);
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.5rem;
}

/* ---------- Main style (SECTION 2) ---------- */

.options-section {
  display: flex;
  flex-direction: column;
  padding-top: 8em;
  padding-left: 6em;
  padding-right: 6em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.options-section h2 {
  font-size: 3rem;
  font-weight: 300;
}

.options-choises {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 100%;
}

.icon-item {
  width: 30%;
}

.options-choises p {
  white-space: nowrap; /* Prevent text from wrapping */
  font-size: 1.2rem;
  margin-top: 50px;
}

.icon-item img {
  width: 65%;
}

/* ---------- Main style (SECTION 3) ---------- */

.karma-section {
  height: 30vh;
  margin-bottom: 80px;
  display: flex;
}

.karma-img {
  width: 40%;
  background-image: url("../level-2/homepage-feature.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.karma-text {
  background-color: var(--light-orange);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.karma-text p {
  font-style: italic;
  width: 60%;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5em;
}

.karma-text > p span {
  color: var(--dark-orange);
  font-family: serif;
  font-size: 1.7rem;
}

.karma-text a {
  padding: 0.7em;
  background-color: var(--dark-orange);
  color: var(--main-white);
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.3rem;
  margin-top: 20px;
}

/* ---------- Footer style ---------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: var(--soft-grey) solid 1px;
  padding-bottom: 5em;
}

footer p {
  margin-top: 1.5em;
}

.social-media-icons {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1.5em;
}

.social-media-icons > a {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: var(--soft-grey) solid 1px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons > a img {
  width: 80%;
}

.inc {
  color: var(--light-grey);
}
